@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;


  background-color: #0f0f0f;

  color: white;
}

button {
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}