.todos-page-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todos-page-content {
    width: 85%
}

.todos-page-header {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.todos-page-description {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    text-align: left;
}