.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 65vh;
}

.home-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-header {
    font-size: 3rem;
}

.home-description {
    font-size: 1.3rem;
}

.home-button {
    margin-top: 0.7rem;
}

@media(max-width: 768px) {
    .home-header {
        font-size: 1.5rem;
    }
    .home-description {
        font-size: 1rem;
    }
}