.todo-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.todo-list-show-more-button {
    margin-top: 1rem;
}