.todos-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todos-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:0.5rem;
}

.todos-list-show-more-button {
    margin-top: 0.5rem;
}